body {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .container {
        max-width: 696px;
    }
}
img {
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
}
a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
.bg-primary{
    background-color: #AA0601;
}
.bg-secondary {
    background-color: #FBF2F2;
}
.text-primary {
    color: #650300;
}
.text-secondary {
    color: #AA0601;
}
.text-tertiary {
    color: #fff;
}
h1 {
    font-size: 4rem;
    color: #650300;
    font-weight: bold;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 1.5rem;
}
.fs-20 {
    font-size: 1.25rem;
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.ptb-80 {
    padding: 80px 0;
}
.text-center {
    text-align: center;
}
.mb-1 {
    margin-bottom: 8px;
}
.mb-6 {
    margin-bottom: 48px;
}
.mr-4 {
    margin-right: 32px;
}
.mr-6 {
    margin-right: 48px;
}

/* header */
.menu {
    width: 492px;
    padding: 25px 0;
}
.menu a::after, .footer-menu a::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .35s;
}
.menu a:hover::after, .footer-menu a:hover::after {
    width: 100%;
}
.banner {
    background-image: url(../images/home-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 296px 0;
}
@media (max-width: 768px) {
    .banner {
        background-image: url(../images/home-header-sm.png);
    }
}
.banner .container {
    text-align: right;
}
.banner .btn {
    margin-top: 4px;
    padding: 6px 12px;
}
.banner .btn:hover {
    box-shadow: 0 0 5px 2px #650300;
}
.banner .btn:active {
    border-radius: 20px;
}
/* main */
.our_service h2 {
    margin-bottom: 24px;
}
@media (max-width: 768px) {
    .features {
        flex-wrap: wrap;
    }
}
.features li {
    width: 306px;
}
.features img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 16px;
}
/* classic */
@media (max-width: 768px) {
    .options {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.options img {
    height: 416px;
}
.options h2 {
    font-style: italic;
}
/* co-branded */
.co-branded_series {
    background-image: url(../images/bg-section4.png);
    background-position: left top;
    background-size: cover;
}
@media (max-width: 768px) {
    .collection {
        flex-wrap: wrap;
        justify-content: center;
    }
    .collection li:first-child {
        margin-bottom: 24px;
    }
}
.collection img {
    height: 240px;
}
.collection h2 {
    background: #fff;
    font-style: italic;
    padding: 8px 0;
}
/* feedback */
@media (max-width: 768px) {
    .list {
        flex-wrap: wrap;
    }
}
.list li {
    width: 306px;
    box-shadow: 0px 2px 6px #00000029;
    transition: .35s;
}
@media (max-width: 768px) {
    .list li {
        width: 336px;
    }
    .list li:first-child,
    .list li:nth-child(2) {
        margin-bottom: 24px;
    }
}
.list li:hover {
    transform: translateY(-10px);
}
.list img {
    height: 306px;
}
.list .content {
    padding: 16px;
}
.review {
    margin-bottom: 72px;
}
.date {
    color: #707070;
}
/* contact */
.contact .container {
    max-width: 636px;
}
@media (max-width: 768px) {
    .contact .container {
        max-width: 576px;
    }
}
.contact p {
    margin-bottom: 24px;
}
input:not(.policy), textarea {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 6px 12px;
}
input[type=submit] {
    width: 65%;
    margin: 0 auto;
    padding: 16px 0;
    border: none;
    cursor: pointer;
}
/* footer */
footer {
    padding-top: 48px;
    padding-bottom: 32px;
}
.middle {
    margin: 0 16px;
}
@media (max-width: 768px) {
    .middle {
        margin: 0 32px;
    }
}
.share img {
    height: 48px;
    transition: .35s;
}
@media (max-width: 768px) {
    .share img {
        height: 40px;
    }
}
.share img:hover {
    transform: scale(1.2);
}
@media (max-width: 768px) {
    .share img:hover {
        transform: none;
    }
}
.contact-info {
    padding-bottom: 32px;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
}
.contact-info li span {
    display: block;
    font-size: 48px;
    padding: 8px 4px;
}
.contact-info li p {
    margin-left: 16px;
    font-size: 36px;
}
.terms_conditions ul {
    width: 174px;
}
.terms_conditions a {
    font-size: 14px;
}


