/* classic_series */
@media (max-width: 992px) {
    .options {
        flex-direction: column;
        align-items: center;
    }

    .options li:not(:last-child) {
        margin-bottom: 24px;
    }
}

.options img {
    width: 416px;
}

@media (max-width: 992px) {
    .options img {
        width: 336px;
    }
}

@media (max-width: 767px) {
    .options img {
        width: 348px;
    }
}

.options li h2 {
    font-style: italic;
    font-weight: 900;
}