/* contact */
.contact-form {
    width: 49.07%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .contact-form {
        width: 82.75%;
    }
}

@media (max-width: 767px) {
    .contact-form {
        width: 100%;
    }
}

.contact-form p {
    margin-bottom: 24px;
}

input:not(.policy),
textarea {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 6px 12px;
}

input[type=submit] {
    width: 66.66%;
    margin: 0 auto;
    padding: 16px 0;
    border: none;
    cursor: pointer;
    margin-top: 48px;
}

input[type=submit]:hover {
    opacity: .6;
}

@media (max-width: 992px) {
    input[type=submit] {
        width: 58.33%;
    }
}

@media (max-width: 767px) {
    input[type=submit] {
        width: 100%;
        margin-top: 24px;
    }

    label>span {
        display: block;
        text-indent: 20px;
    }
}