.our_service h2 {
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .our_service h2 {
        font-size: $font-regular;
    }
}

.features li {
    width: 23.5%;
}

@media (max-width: 992px) {
    .features {
        flex-wrap: wrap;
    }

    .features li {
        width: 48%;
    }
}

@media (max-width: 767px) {
    .features li {
        width: 100%;
    }
}

.features img {
    width: 100px;
    margin-bottom: 16px;
}

.features p {
    text-align: left;
}